section{
    display: flex;
    flex-direction: column;
    align-items: start;

    margin-left: 12.5vw;
    margin-top: 20vh;
}

section h2{
    color: #0B0B0B;
    text-align: left;
    font-family: Dosis;
    font-size: 175%;
    margin-top: 2px;
    margin-bottom: 40px;
}

.about-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #728F90;
    border-radius: 30px;

    width: 70vw;
    height: 50vh;

    padding-top: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 1.5%;
}

.main-contents{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70vw;
}

.main-contents h4{
    color: #0B0B0B;
    font-family: Dosis;
    font-size: large;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 5px;
}

.main-contents p{
    color: #0B0B0B;
    font-family: Dosis;
    font-size: large;
    font-weight: 400;
    
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-contents .p2{
    width: 600px;
}

.main-contents ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-contents li{
    color: #0B0B0B;
    font-family: Dosis;
    font-size: large;
    font-weight: 500;

    margin-top: 5px;
    margin-bottom: 5px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;

    width: 70vw;
    margin-bottom: 0px;
}

.user-report{
    width: 150px;
    height: 40px;

    border-radius: 15px;
    border-color: #2F3030;
    border-width: 5px;
    border-style: solid;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    bottom: 25px;
    background-color: #D76B1E;
}

.user-report img{
    margin-right: 0px;
}

.user-report p{
    color: #0B0B0B;
    text-align: center;
    font-family: Dosis;
    font-size: larger;
    font-weight: 700;

    margin-left: 5px;
}

.log-in{
    width: 150px;
    height: 40px;

    border-radius: 15px;
    border-color: #2F3030;
    border-width: 5px;
    border-style: solid;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    bottom: 25px;
    background-color: red;

    margin-left: 30px;
    margin-right: 20px;
}

.log-in p{
    color: #0B0B0B;
    text-align: center;
    font-family: Dosis;
    font-size: larger;
    font-weight: 700;
}