body{
    overflow: hidden;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

section h2{
    color: #0B0B0B;
    text-align: left;
    width: 70vw;
    font-family: Dosis;
    font-size: 175%;
    margin-top: 2px;
    margin-bottom: 40px;
}

.about-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #728F90;
    border-radius: 30px;

    width: 70vw;
    height: 50vh;

    padding-top: 1.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-bottom: 1.5%;
}

.main-contents{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.main-contents h4{
    color: #0B0B0B;
    font-family: Dosis;
    font-size: medium;
    font-weight: bold;

    margin-top: 20px;
    margin-bottom: 5px;
}

.main-contents p{
    color: #0B0B0B;
    font-family: Dosis;
    font-size: medium;
    font-weight: 400;
    
    margin-top: 5px;
    margin-bottom: 5px;
}

.main-contents li{
    color: #0B0B0B;
    font-family: Dosis;
    font-size: medium;
    font-weight: 500;
}

.log-in a{
   color: blue;
   text-decoration: underline;
}

.log-in a:hover{
    color: lightblue;
}

.log-in a:active{
    opacity: 0.5;
}

.report-container{
    display: flex;
    flex-direction: row;
    justify-content: end;

    width: 70vw;
    margin-bottom: 0px;
}

.user-report{
    width: 150px;
    height: 40px;

    border-radius: 15px;
    border-color: #2F3030;
    border-width: 5px;
    border-style: solid;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    bottom: 25px;
    background-color: #D76B1E;
}

.user-report:hover{
    background-color: #d67a38; 
}

.user-report:active{
    background-color: #da8d56;
}

.user-report img{
    margin-right: 0px;
}

.user-report p{
    color: #0B0B0B;
    text-align: center;
    font-family: Dosis;
    font-size: larger;
    font-weight: 700;

    margin-left: 5px;
}

@media only screen and (min-width: 501px) and (max-width: 850px){
    .about-box{
        width: 80vw;
        height: 50vh;
    }

    .main-contents h4{
        font-size: smaller;
    }
    
    .main-contents p{
        font-size: smaller;
    }

    .main-contents li{
        font-size: smaller;
    }

    .report-container{
        width: 80vw;
    }
}

@media only screen and (max-width: 500px){
    .about-box{
        width: 80vw;
        height: 65vh;
    }

    .main-contents h4{
        font-size: smaller;
    }
    
    .main-contents p{
        font-size: smaller;
    }

    .main-contents li{
        font-size: smaller;
    }

    .report-container{
        width: 80vw;
    }
}