section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    margin-left: 12.5vw;
    margin-top: 30vh;
}

.tabs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    position: absolute;
    top: -60px;
    left: 0px;
    z-index: -1;

    color: #0B0B0B;
    text-align: center;
    font-family: Dosis;
    font-size: xx-large;
    font-weight: 700;

    cursor: pointer;
}

.tabs .view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    
    width: 250px;
    height: 90px;
    text-align: center;
    padding-top: 15px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: #9B9B9B;;
}

.tabs .manage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    width: 250px;
    height: 90px;
    text-align: center;
    padding-top: 15px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: #728F90;;
}

form{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #728F90;
    border-radius: 30px;

    width: 70vw;
    height: 55vh;
    
    padding: 10px;
}

form p{
    font-family: Dosis;
    font-size: x-large;
    font-weight: 500;

    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
}

form input{
    margin-right: 40px;
    margin-bottom: 10px;

    font-family: Dosis;
    font-size: medium;

    padding: 5px;
    width: 400px;
}

.container-manage{
    width: 60vw;
    height: 45vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-row, .middle-row, .last-row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    width: 60vw;
}   

.middle-row input{
    margin-right: 40px;

    width: 850px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: start;

    margin-top: 30px;
    margin-bottom: 20px;
    width: 60vw;
}

.save, .cancel{
    margin-right: 40px;
    width: 175px;

    background-color: white;
    padding: 8px;
    border-radius: 10px;
    border-style: none;

    font-family: Dosis;
    font-weight: 700;
    color: black;
    font-size: x-large;
    text-align: center;
}

.cancel{
    margin-right: 40px;
    width: 125px;

    background-color: white;
    padding: 8px;
    border-radius: 10px;
    border-style: none;

    font-family: Dosis;
    font-weight: 700;
    color: black;
    font-size: x-large;
    text-align: center;
}

.container-view{
    width: 60vw;
    height: 45vh;

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

table{
    width: 60vw;
    height: 45vh;
}

table, th, td{
    border-style: solid;
    border-width: 3px;  
    border-color: black;
    border-collapse: collapse; 

    font-family: Dosis;
    color: black;
    font-size: large;
    text-align: center;
    padding: 5px;
}

th, td{
    flex: 1;
}

.institution{
    flex: 2;
}


@media only screen and (max-width: 800px){
    form input{
        width: 142px;
    }

    .middle-row input{
        width: 300px;
    }

    form p{
        font-size: larger;
        margin-left: 5px;
    }
}