body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #1B1919;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    top: 0px;

    background-color: #1D5C67;
    height: 13vh;
}

.header-left{
   width: 35%;
   left: 0px;
   border-bottom-right-radius: 30px;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   padding-left: 5px;
   padding-right: 5px;
}

.header-left a{
    color: white;
    text-align: center;
    font-family: Dosis;
    font-size: xx-large;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 5px;
    transition: transform 0.3s ease;
}

.header-left a:hover{
    transform: scale(1.05);
    opacity: 0.75;
}

.header-left a:active{
    opacity: 0.5;
}

.header-right{
    width: 45%;
    right: 0px;
    border-bottom-left-radius: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding-left: 5px;
    padding-right: 5px;
}

.search-bar {
    position: relative; 
    flex: 1 1 auto;
    min-width: 0;
    max-width: 450px;

    margin-left: 50px;
    margin-right: 20px;

    display: flex;
    flex-direction: row;
}

.search-bar input{
    flex: 1 1 auto;
    min-width: 0;

    height: 45px;
    border-radius: 30px;
    border: none;

    padding-left: 15px;
    padding-right: 50px;
    font-family: Dosis;
    font-size: medium;

    position: relative;
}

.search-bar i{
    position: absolute;
    z-index: 99;

    top: 5px;
    right: 10px;
    transition: transform 0.3s ease;
}

.search-bar i:hover{
    transform: scale(1.1);
}

.search-bar i:active{
    opacity: 0.75;
}

.header-right a{
    color: white;
    text-align: center;
    font-family: Dosis;
    font-size: x-large;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-left: 20px;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.header-right a:hover{
    opacity: 0.75;
    transform: scale(1.1);
}

.header-right a:active{
    opacity: 0.5;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.2);
}


@media only screen and (min-width: 801px) and (max-width: 1000px){
    .search-bar{
        margin-left: 30px;
        margin-right: 10px;
    }

    .header-left a{
        font-size: x-large;
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media only screen and (min-width: 501px) and (max-width: 800px){
    .header-left{
        width: 100vw;
        height: 6vh;
        border-radius: 0px;
    }

    .header-right{
        width: 100vw;
        height: 8vh;
        top: 6%;
        border-radius: 0px;
    }

    .search-bar{
        margin-left: 30px;
        margin-right: 10px;
    }

    .header-left a{
        font-size: x-large;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 500px){
    .header-left{
        width: 100vw;
        height: 6vh;
        border-radius: 0px;
    }

    .header-left a{
        font-size: larger;
        margin-left: 5px;
        margin-right: 5px;
    }

    .header-right{
        width: 100vw;
        height: 8vh;
        top: 6%;
        border-radius: 0px;
    }

    .search-bar{
        margin-left: 30px;
        margin-right: 5px;
    }
    
}