body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: #C7E5F4;
}

a{
    text-decoration: none;
}

a:hover{
    cursor: pointer;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;

    position: fixed;
    top: 0px;

    background-color: #4A777E;
    height: 13vh;
}

.header-left{
   width: 45%;
   left: 0px;
   border-bottom-right-radius: 30px;
   justify-content: center;
}

.header-left h1{
    color: #1AE8FF;
    font-family: Domine;
    font-size: 350%;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    padding: 5px;
}

.header-left h2{
    color: #0B0B0B;
    font-family: Dosis;
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    margin-right: 20px;
    padding: 5px;
}

.header-right{
    width: 20%;
    right: 0px;
    border-bottom-left-radius: 30px;
    justify-content: center;
}

.log-out{
    width: 150px;
    height: 40px;

    border-radius: 15px;
    border-color: #2F3030;
    border-width: 5px;
    border-style: solid;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    bottom: 25px;
    background-color: red;

    margin-left: 30px;
    margin-right: 20px;
}

.log-out p{
    color: #EEE0E0;
    text-align: center;
    font-family: Dosis;
    font-size: x-large;
    font-weight: 700;
}

@media only screen and (min-width: 1001px) and (max-width: 1280px){
    .header-left{
        width: 60%;
    }
}

@media only screen and (min-width: 951px) and (max-width: 1000px){
    .header-left{
        width: 60%;
    }

    .log-out p{
        font-size: larger;
    }
}

@media only screen and (min-width: 601px) and (max-width: 950px){
    .header-left{
        width: 75vw;
        border-radius: 0px;
    }

    .header-left {
        width: 75vw;
        border-radius: 0px;
    }

    .header-right{
        width: 25vw;
        border-radius: 0px;
    }

    .header-left h2{
        font-size: x-large;
    }

    .header-left h1{
        font-size: 300%;
    }

    .log-out p{
        font-size: larger;
    }
}

@media only screen  and (min-width: 501px) and (max-width: 600px){
    .header-left{
        width: 100vw;
        height: 6vh;
        border-radius: 0px;
    }

    .header-left h2{
        font-size: x-large;
        margin-right: 10px;
    }

    .header-left h1{
        font-size: 250%;
    }

    .header-right{
        width: 100vw;
        height: 8vh;
        top: 6%;
        border-radius: 0px;
    }

    .log-out p{
        font-size: larger;
    }
}

@media only screen  and (max-width: 500px){
    .header-left{
        width: 100vw;
        height: 5vh;
        border-radius: 0px;
    }

    .header-left h2{
        margin-right: 10px;
        font-size: larger;
    }

    .header-left h1{
        font-size: 250%;
    }

    .header-right{
        width: 100vw;
        height: 8vh;
        top: 5%;
        border-radius: 0px;
    }

    .log-out p{
        font-size: larger;
    }
}