.menu-wrapper{
    position: fixed;
    display: none;
    top: 13%;

    background-color: #4A777E;
    height: 87vh;
    width: 28%;

    transition-property: left;
    transition-duration: 100ms;
    transition-timing-function: ease;
}

.menu{
    height: 87vh;
    width: 95%;
    
    color: #0B0B0B;
    font-family: Dosis;
    
    font-style: normal;
    font-weight: 700;
    text-align: left;
    
    overflow-y: auto;
}

.menu p{
    font-size: larger;
    padding-left: 60px;
}

.menu a{
    font-size: x-large;
    display: block;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 15px;
    border-radius: 8px;

    transition-property: background-color;
    transition-duration: 100ms;
    transition-timing-function: ease;

    color: black;
    text-decoration: none;
}

.menu a:hover{
    background-color: #9BC8CF;
}

.menu::-webkit-scrollbar{
    width: 10px;
}

.menu::-webkit-scrollbar-track{
    background-color: #848484;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.menu::-webkit-scrollbar-thumb{
    width: 20px;
    background-color: black;
    border-radius: 10px;
}

.menu-button{
    position: fixed;
    top: 46%;
    left: 0%;

    width: 35px;
    height: 10vh;

    background-color: #4A777E;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    transition-property: left;
    transition-duration: 100ms;
    transition-timing-function: ease;
}

.menu-button div{
    width: 6px;
    background-color: black;
    border-radius: 5px;
}

.menu-button .div1{
    height: 7vh;
    margin-left: 5px;
    margin-right: 2.5px;
}

.menu-button .div2{
    height: 6vh;
    margin-left: 2.5px;
    margin-right: 5px;
}

.user-report-hover{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

    padding-left: 10px;

    height: 50px;
    background-color: rgba(204, 199, 199, 0.90);
    color: black;

    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;

    visibility: hidden;
}

.user-report-hover img{
    margin-right: 5px;
}

.user-report-hover{
    right: 25px;
    bottom: 25px;

    width: 350px;
}

.print, .user-report{
    position: fixed;
    right: 25px;

    width: 40px;
    height: 40px;

    border-radius: 10px;
    border-color: #2F3030;
    border-width: 5px;
    border-style: solid;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    visibility: visible;
}

.print img, .user-report img{
    margin-right: 0px;
}

.print{
    bottom: 80px;
    background-color: blue;
}

.user-report{
    bottom: 25px;
    background-color: orange;
}

@media only screen and (min-width: 1001px) and (max-width: 1200px){
    .menu p{
        padding-left: 20px;
    }

    .menu a{
        padding-left: 15px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1000px){
    .menu p{
        padding-left: 15px;
    }

    .menu a{
        padding-left: 10px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 800px){
    .menu-wrapper{
        top: 14%;
        width: 80vw;
    }

    .menu-button{
        top: 46%;
        left: 80vw;
    }
}

@media only screen and (max-width: 500px){
    .menu-wrapper{
        top: 14%;
        width: 80vw;
    }

    .menu-button{
        top: 46%;
        left: 80vw;
    }
}

/* WHERE THINGS GONE MONKEY*/

.form-container {
    max-height: 90vh;
    margin: 2vw 10vw;
    padding: 20px;
    border-radius: 30px;
    background-color: #303030;
}

.record {
    margin: 0.5vw;
    padding: 20px;
    background-color: #404040;
    border-radius: 25px;
    overflow: hidden;
}

    .record::before {
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        background-color: #202020;
        clip-path: polygon(0 0, 100% 0, 0 100%);
    }

    .record h2 {
        font-size: 3vw;
        display: flex;
        align-items: center;
        gap: 10px;
        z-index: 1;
    }

        .record h2 img {
            width: 4vw;
            height: 4vw;
            border-radius: 50%;
        }

.categories {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1.5vw;
    flex-wrap: wrap;
    z-index: 1;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 13vw;
    height: 13vw;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-size: 2.2vw;
}

.short-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 13vw;
    height: 13vw;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-size: 2.8vw;
}

.long-category {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 13vw;
    height: 13vw;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    font-size: 1.5vw;
}

.hospital {
    background-color: #4CAF50;
}

.police {
    background-color: #2196F3;
}

.fire {
    background-color: #F44336;
}

.government {
    background-color: #FFC107;
}

.ngo {
    background-color: #9C27B0;
}

/* Pop up-ers */

.popup {
    position: fixed;
    top: 55%;
    left: 50%;
    width: 70vw;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgb(#848484);
    padding: 20px;
    display: none;
    z-index: 1000;
}
.popup-record {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 5px; 
    font-size: 1.2rem;
    flex-grow: 1; 
}

.gmaps, .copy-btn {
    display: flex;
    align-items: center; 
    padding: 5px;
    gap: 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

    .gmaps img, .copy-btn img {
        width: 30px;
        height: 30px;
    }

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.popup-record a {
    margin-left: auto;
    text-decoration: none;
}

.popup-content {
    max-height: 30vw;
    overflow-y: auto;
}

#closePopup {
    margin-top: 15px;
    display: inline-block;
    font-size: 1.5vw;
    padding: 1vw 2vw;
    border-radius: 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    cursor: pointer;
}